.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
}

.logotipo {
    display: flex;
    align-items: center;
}

.logotipo img {
    width: 6rem;
    height: 6rem;
}

.logotipo h2 {
    font-size: 2.5rem;
}

.nav ul {
    width: 65rem;
    display: flex;
    justify-content: space-between;
    list-style: none;

    font-size: 1.7rem;
}

.nav ul li {
    padding: 0.5rem;
    border-radius: 3px;
    background-color: rgb(242, 242, 242);
    cursor: pointer;
}

.nav ul li:hover {
    background-color: rgb(1, 96, 168);
    color: white;
    transition: 0.3s;
}

@media screen and (max-width:950px) {
    .header {
        width: 100%;
        flex-direction: column;
        gap: 3rem;
    }

    .nav {
        width: 100%;
    }

    .nav ul {
        width: 100%;
    }
}

@media screen and (max-width:480px) {
    .header {
        padding: 2rem;
    }

    .nav ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
    }
}